body{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1457090673666-0e205962d75c?auto=format&fit=crop&q=80&w=1631&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    max-width: 100vw;
    max-height: 100vh;
}

.header-txt{
    color:#02007A;
    font-size: 1.5rem;
    width: fit-content;
    margin: auto;
}

.main{
    width: 21rem;
    background-color: #ffffffa9;
    padding: 2px;
    margin: 10% auto;
    border:1px solid #fff;
}

.pfp{
    height: 170px;
    width: 170px;
    padding-right: 2px;
}

.header{
    display: flex;
}

.links{
    width: 15rem;
    padding-left: 2px;
}

button{
    width: 100%;
    margin:2px 0;
    height: 2rem;
    color:#fff;
    border:0;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.25rem;
    text-align: left;
    background-color:#02007A;
}

li{
    color:#02007A;
    margin-right: 20px;
    text-wrap: wrap;
}

.real-link{
    color:#02007A;
}

.real-link:hover{
    text-decoration: none;
    transition: 0.2s ease-in;
}

button:hover{
    cursor: pointer;
    background-color: #02007a94;
    transition: 0.2s ease-in;
}

table{
    width: 100%;
    color: #02007A;
    border: 2px #02007A solid;
}

td{
    text-align: center;
    border: 2px #02007A solid;
}

th, .format{
    background-color: #02007a3b;
    border: 2px #02007A solid;
}

#commsBlock{
    display:none;
}